<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theodoorthomas.android.memoryloss"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/> 
    
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="BaseApplication" >
        <activity
            android:name="com.theodoorthomas.android.memoryloss.LocationPicker"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

  	    <receiver android:name="com.theodoorthomas.android.memoryloss.services.ScheduleReciever" >
        </receiver>
        
        <receiver android:name=".DeviceBootReciever" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        


  		<service
  		    android:name="com.theodoorthomas.android.memoryloss.services.LogMonitService"
  		    android:icon="@drawable/ic_launcher"
  		    android:label="@string/service_name">
        </service> 
    </application>
</manifest>
